# Dependency directories (The heavy 200MB+ stuff)
**/node_modules/

# Build and distribution directories (The installer files)
**/dist/
**/win-unpacked/

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache